body {
  background: #f8f8f8;
  color: #212121;
  margin: 2em;
  padding: 2em;
}

a {
  color: #ff8000;
  text-decoration: none;
}

a:hover {
  border-bottom: 1px solid;
}

h1.title {
  font-size: 50px;
}

hr {
  color: #212121;
  background: #212121;
}
