img.author-avatar {
  max-width: 50px
}

.package-readme {
  font: 14px Lucida Grande, sans-serif;
  max-width: 768px;
  background: #f0f0f0;
  padding: 2em;
}

.package-readme h1 {
  margin-top: 0px;
  border-bottom: 2px solid;
}

.package-readme pre {
  padding: 1em;
  border-left: 2px solid #d8d8d8;
}

.package-info td {
  padding: 0.5em 3em 0.5em 0;
  border-bottom: 1px solid #d8d8d8;
}

.author-avatar {
  vertical-align: middle;
  margin-right: 1em;
}

.package-dependencies,
.package-keywords {
  list-style: square;
  margin-bottom: 0;
}
