img.author-avatar {
  max-width: 30px
}

.package-container {
  margin: 0 2em;
  padding: 1em 2em;
}

.package-info {
  font-size: 14px;
}

.package-readme {
  max-width: 768px;
}

.package-readme pre {
  padding: 1em;
  border-left: 2px solid #d8d8d8;
  background: #eaeaea;
}

.package-info {
  border-collapse: collapse;
  border-spacing: 0;
}

.package-info td {
  padding: 0.5em 3em 0.5em 0.5em;
}

.package-info tr:nth-child(even) td {
  background: #eaeaea;
}

.author-avatar {
  vertical-align: middle;
  margin-right: 1em;
}

.package-dependencies,
.package-keywords {
  list-style: square;
  margin-bottom: 0;
}
