<!DOCTYPE html>
<html>
  <head>
    <title>{{ name }} &lt; {{ config.registry }}</title>
    {{>head}}
    <link rel="stylesheet" href="../css/package.css">
    <link rel="stylesheet" href="../css/github.css">
  </head>
  <body>
    {{>header}}
    <div class="package-container">
      <div class="package-heading">
        <h1 class="main-header">{{ name }}</h1>
        <h2 class="package-description">
          {{ description }}
        </h2>
      </div>

      <div class="package-info">
        <section>
          <span class="package-detail">Version <strong>{{ version }}</strong></span>
          <span class="package-detail">Published <strong>{{last_modified}}</strong></span>
        </section>

        {{#dependencies.length}}
        <section>
          <h3>Dependencies</h3>
          <ul class="package-dependencies">
            {{#dependencies}}
            <li>
              <a href="../package/{{ name }}">{{ name }}</a> @ {{ version }}
            </li>
            {{/dependencies}}
          </ul>
        </section>
        {{/dependencies.length}}

        {{#dependents.list.length}}
        <section>
          <h3>Dependents</h3>

          <ul class="package-dependents">
            {{#dependents.list}}
            <li>
              <a href="../package/{{.}}">{{.}}</a>
            </li>
            {{/dependents.list}}
          </ul>
          {{#dependents.remain}}
          <p>
            &hellip; and
            <a href="../browse/depended/{{ name }}">
            {{ dependents.remain }} more
            </a>
          </p>
          {{/dependents.remain}}
        </section>
        {{/dependents.list.length}}

        <section>
          <h3>Author</h3>
          <img class="author-avatar" src="{{ author_avatar }}?d={{ default_avatar }}" alt="{{author}}">
          <p><span class="package-detail">{{ author }}</span></p>
        </section>

        <section>
          <span class="package-detail">
            <strong><a href="{{ repository_www }}" class="repository-link">{{ repository }}</a></strong>
          </span>
        </section>

        {{#keywords.length}}
        <section>
          <span class="package-detail">
            Keywords: <strong>{{keywords}}</strong>
          </span>
        </section>
        {{/keywords.length}}

        {{#created}}
        <section>
          <span class="package-detail">
            Created <strong>{{ created }}</strong>
          </span>
        </section>
        {{/created}}
      </div>

      <h1 class="readme-header main-header"><a href="#readme">README</a></h1>
      <div class="package-readme" id="readme">
        {{{ readme }}}
      </div>
    </div>
    {{>footer}}
  </body>
</html>
