<html>
  <head>
    <title>{{ name }} &lt; {{ registry }}</title>
    <link rel="stylesheet" href="/css/package.css">
    <link rel="stylesheet" href="/css/github.css">
  </head>
  <body>
    <header altr-include="header">
    </header>
    <h1>{{ name }}</h1>
    <p>
      {{ description }}
    </p>
    <h2>Details</h2>
    <table class="package-info">
      <tr>
        <td><strong>Author</strong></td>
        <td><img class="author-avatar" src="{{ author_avatar }}?d={{ default_avatar }}"> {{ author }}</td>
      </tr>
      <tr>
        <td><strong>Version</strong></td>
        <td>{{ version }}</td>
      </tr>
      <tr altr-if="dependencies.length">
        <td><strong>Dependencies</strong></td>
        <td>
          <ul altr-for="dep in dependencies">
            <li>
              <a href="{{ dep.name }}">{{ dep.name }}</a> @ {{ dep.version }}
            </li>
          </ul>
        </td>
      </tr>
      <tr>
        <td><strong>Repository</strong></td>
        <td>
          <a href="{{ repository_www }}">{{ repository }}</a>
        </td>
      </tr>
      <tr altr-if="created">
        <td><strong>Created</strong></td>
        <td>{{ created }}
      </tr>
      <tr altr-if="last_modified">
        <td><strong>Last Updated</strong></td>
        <td>{{ last_modified }}</td>
      </tr>
      <tr altr-if="keywords.length">
        <td><strong>Keywords</strong></td>
        <td>
          <ul altr-for="keyword in keywords">
            <li>{{ keyword }}</li>
          </ul>
        </td>
      </tr>
    </table>

    <h2>Readme</h2>
    <div class="package-readme">
      {{ readme }}
    </div>
    <footer altr-include="footer">
    </footer>
  </body>
</html>
